
#space_home{
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
  }
  

  #space_home p{
    text-align: center;
    font-size: 5em;
    font-style: italic bold;
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: relative;
    top: 30%;
    transition: 1s ease;
  }
  
  @keyframes shootingStars {
      0%{
        transform: translateY(-550px);
      }
      100%{
        transform: translateY(calc(100vh + 200px));
      }
    }
  
    /*************** destop and laptop ***************/
  
    @media only screen and (min-width : 1224px) and (max-device-width : 1825px){
      /* Styles pour cette Media Queries */
      #spaceShip{
        width: 100px;
        height: 100px;
      }
  
      #rocket_fire{
        top: 23%;
  
      }
    }