.content_competence{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_competence{
    position: relative;
    background-color: rgb(30,31,38);
    height: 550px;
    width: 20%;
    box-shadow: black 25px 20px 25px;
    overflow: hidden;
    margin-right: 5% ;
}

.card_competence::before{
    content: '';
    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-280deg);
    height: 260%;
    width: 230%;
    background-image: conic-gradient(orange 0deg, #ff00bb 90deg,
                                     transparent 130deg, transparent 180deg,
                                     #4530FF 180deg, #4530FF 270deg,
                                     transparent 310deg, transparent 360deg);
    transition: transform 2s;  
}

.card_competence:hover::before{
    transform: translate(-50%, -50%) rotate(-100deg);
}

.competence{
    position: absolute;
    top: 2%;
    left: 1.5%;
    background-color: rgb(30,31,38);
    height: 525px;
    width: 97%;
}

.competence h1{
    transition: 2s;
    color:white;
    position: relative;
    text-shadow:  0px 0px 35px  #4530FF;
    left:5%;
}


.competence:hover h1{
    transition: 2s;
    color: white;
    text-shadow:  0px 0px 35px  #ff00bb;
}

.competence p{
    position: relative;
    font-size: 20px;
    left: 5%;
    transition: 2s;
    color: transparent;
}

.competence:hover p{
    transition: 2s;
    color: white;
    text-shadow:  0px 0px 35px  #ff00bb;
}


.progress_bar{
    transition: 1.5s;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    margin-top: 5%;
    height: 20px;
    width: 80%;
    border: transparent solid 5px;
    border-radius: 25px;
    overflow: hidden;
}

.line{
    transition: 2s;
    background: transparent;
    animation: progress_back 1.5s cubic-bezier(0,0,0,0) ;
    color: transparent;
}

.competence:hover .progress_bar{
    transition: 1.5s;
    background: rgb(255,0,187, 0.4);

}   

.competence:hover .line{
    transition: 2s;
    background: white;
    box-shadow: #ff00bb 0px 0px 20px 5px;
    animation: progress 1.5s forwards cubic-bezier(0,0,0,0);
    border-radius: 25px;
    color: #4530FF;
}

@keyframes progress {

    0%{
        transform: translateX(-100%);
        // width: 0%;
    }
    100%{
        transform: translateX(0%);
        // width: 80%;
    }
    
}

@keyframes progress_back {

    0%{
        transform: translateX(0%);
        // width: 80%;
    }
    100%{
        transform: translateX(-100%);
        // width: 0%;
    }
    
}

/*************** destop and laptop ***************/

  @media only screen and (min-width : 1224px) and (max-device-width : 1825px) {
   
    .card_competence{
        height: 450px;
        width: 30%;
        margin-right: 2% ;
    }

    .competence{
        height: 430px;
    }
  }

    /*************** small destop and laptop ***************/

      @media only screen and (min-width : 993px) and (max-device-width : 1200px) {
        .card_competence{
            height: 400px;
            width: 50%;
            margin-right: 1% ;
        }   

        .competence{
            height: 385px;
        }

        .progress_bar{
            height: 12px;
}
    }