
#projets_list_wrapper{
    margin-top: 5%;
}

.cards {
    margin: 1%;
    height: 525px;
    counter-increment: cards;
  }

  ::ng-deep.dot.is-selected{
  background: white ;
}


  /*************** destop and laptop ***************/

  @media only screen and (min-width : 1224px) and (max-device-width : 1825px) {
   
    #projets_list_wrapper{
        margin-top: 3%;
    }

    .cards {
        margin: 2%;
        height: 450px;
    }
  }
  

    /*************** small destop and laptop ***************/

      @media only screen and (min-width : 993px) and (max-device-width : 1200px) {
        #projets_list_wrapper{
          margin-top: 5%;
      }

      .cards {
        margin: 2%;
        height: 350px;
    }
      }