
#projet_list_wrapper{
    margin-top: 5%;
}

.cards {
    /* width: 56%; */
    margin: 1%;
    height: 525px;

    /* margin-right: 10px;
    border-radius: 5px; */
    counter-increment: cards;
  }
  

  