<p>contact works!</p>
<div class="content_competence">
    <div class="card_competence">
        <div class="competence">
            <div>
                <h1>Contact</h1>
                <p>Vous pouvez me joindre ici via mes reseaux<br>Par email vous avez meme accès á mon CV 😁</p>
            </div>

            <div id="reseaux">
                <div class="rsx"><i class="fa-brands fa-github fa-2xl"></i></div>
                <div class="rsx"><i class="fa-brands fa-linkedin fa-2xl"></i></div>
                <div class="rsx"><i class="fa-solid fa-envelope fa-2xl"></i></div>
            </div>

        </div>