<p>contact works!</p>
<div class="content_competence">
    <div class="card_competence">
        <div class="competence">
            <div>
                <h1>Contact</h1>
                <p>Vous pouvez me joindre ici via mes reseaux<br>Par email vous avez meme accès á mon CV 😁</p>
            </div>
            <div id="rsx">
                <i class="fa-brands fa-github"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-solid fa-envelope"></i>
            </div>
        </div>