.timeline{
    
    margin: 0 auto;
    width: 95%;
    height: 250px;
    background-color: rgb(0, 0, 0, 0.4);
    box-shadow: black 25px 24px 25px;
    box-sizing: border-box;

    position: relative;
    margin-top: 30px;
    overflow: hidden;
}

.vertical_line_timeline{
    position: absolute;
    top: 5%;
    left: 1%;
    background-color: rgb(30,31,38);
    height: 225px;
    width: 98%;
}

.timeline img{
    margin-top: 1%;
    border-radius: 25%;
    position: relative;
    float: left;
    height: 190px;
    width: 220px;
}

.timeline h2{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    padding: 1%;
}

.timeline span{
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}


.timeline p{
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}

.timeline::before{
    content: '';
    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-280deg);
    height: 750%;
    width: 750%;
    background-image: conic-gradient(orange 0deg, #ff00bb 90deg,
                                     transparent 130deg, transparent 180deg,
                                     #4530FF 180deg, #4530FF 270deg,
                                     transparent 310deg, transparent 360deg);
    transition: transform 2s;  
  }

  .timeline:hover::before{
    transform: translate(-50%, -50%) rotate(-100deg);
  }



  @media only screen and (min-device-width : 1224px) and (max-device-width : 1823px){

    .timeline img{
        margin-top: 3%;
        height: 170px;
        width: 200px;
    }
}

  /*************** small destop and laptop ***************/

      @media only screen and (min-width : 993px) and (max-device-width : 1200px) {

    .timeline img{
        margin-top: 5%;
        height: 160px;
        width: 190px;
    }
}

    /*************** Tablette ***************/

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    .timeline img{
        margin-top: 3%;
        height: 145px;
        width: 175px;
    }

    .timeline{
        width: 95%;
        height: 200px;
    }

    .vertical_line_timeline{
        top: 3%;
        height: 189px;
    }
  }