/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Eternal;
    src: url(assets/font/AsherPunkDemoVersion-ALZJ2.ttf);
}
*{
    font-family: Eternal;
    color: white;
}

body{
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(19,20,23);
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}