<div id="skills">
    <div class="skill" id="hard_skill">
            <h1 class="skill_type">Softs skills</h1>
            <div class="ligne"></div>
            <div class="ligne_color"></div>
            <div class="shape">
                <i class="fa-brands fa-space-awesome fa-xl"></i>
            </div>
    </div>
    <div class="skill" id="soft_skill">
        <h1 class="skill_type">Hards skills</h1>
        <div class="ligne"></div>
        <div class="ligne_color"></div>
        <div class="shape">
            <i class="fa-brands fa-space-awesome fa-xl"></i>
        </div>    
    </div>
    <div class="skill" id="other_skill">
        <h1 class="skill_type">other skills</h1>
        <div class="ligne"></div>
        <div class="ligne_color"></div>
        <div class="shape">
            <i class="fa-brands fa-space-awesome fa-xl"></i>
        </div>    
    </div>
</div>