<div class="content_competance">
    <div class="card_competance">
        <div class="competance">
            <div>
                <h1>Soft skill</h1>
                <p> voici les softs skill que j'ai acquis durant mes experiences</p>
            </div>
            <div class="progress_bar">
                <div class="line"></div>    
            </div>

            <div class="progress_bar">
                <div class="line"></div>    
            </div>

            <div class="progress_bar">
                <div class="line"></div>    
            </div>

            <div class="progress_bar">
                <div class="line"></div>    
            </div>

            <div class="progress_bar">
                <div class="line"></div>    
            </div>

        </div>
    </div>

    <div class="card_competance">
        <div class="competance">
            <div>
                <h1>Soft skill</h1>
                <p> voici les softs skill que j'ai acquis durant mes experiences</p>
            </div>
            <div class="progress_bar">
                <div class="line"></div>    
            </div>

            <div class="progress_bar">
                <div class="line"></div>    
            </div>

            <div class="progress_bar">
                <div class="line"></div>    
            </div>

            <div class="progress_bar">
                <div class="line"></div>    
            </div>

            <div class="progress_bar">
                <div class="line"></div>    
            </div>

        </div>
    </div>

    <div class="card_competance">
        <div class="competance">
            <div>
                <h1>Soft skill</h1>
                <p> voici les softs skill que j'ai acquis durant mes experiences</p>
            </div>
            <div class="progress_bar">
                <div class="line"></div>    
            </div>

            <div class="progress_bar">
                <div class="line"></div>    
            </div>

            <div class="progress_bar">
                <div class="line"></div>    
            </div>

            <div class="progress_bar">
                <div class="line"></div>    
            </div>

            <div class="progress_bar">
                <div class="line"></div>    
            </div>

        </div>
    </div>
</div>